@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    font-family: 'Carter One'; 
  }
}

@layer components{
  .fondo{
    @apply bg-cover bg-no-repeat;
  }

  .opcion-menu-1{
    @apply mt-4 imagen h-12 seleccionable;
  }

  .imagen{
    @apply bg-contain bg-no-repeat;
  }

  .seleccionable{
    @apply hover:scale-110 cursor-pointer transition-all;
  }

  .flecha{
    @apply w-[66px] h-[66px] imagen seleccionable;
  }

  .botones-pago{
    @apply w-72 h-16 seleccionable imagen;
  }

  .botones-tienda{
    @apply w-[150px] h-[150px] seleccionable imagen;
  }

  .botones-tokens{
    @apply w-[421px] h-[299px] seleccionable imagen;
  }

  .boton1-iniciar-sesion{
    @apply absolute top-0 w-[319px] h-[65px] imagen;
  }

  .boton2-iniciar-sesion{
    @apply absolute top-4 w-[280px] h-[56px] imagen;
  }

  .entrada{
    stroke-width: 4px;
    stroke: #000;
    background: white;
    border-radius: 20px;
    border: 5px solid black;
    padding: 0px 10px;
    opacity: 0.3; 
    color: black;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .flecha-local{
    @apply absolute left-96 bg-[url('../assets/general/flecha-2.png')] flecha;
  }

  .entrada-local{
    @apply entrada w-[426px] h-[60px] mt-8;
  }

  .boton-perfil{
    @apply mr-32 seleccionable imagen w-[369px] h-[60px];
  }

  .input-radio{
    @apply absolute top-0 z-20 opacity-0 cursor-pointer w-[60px] h-[60px];
  }

  .label-radio{
    @apply transition-all absolute top-0 -z-10 w-[60px] h-[60px] bg-[#759948] border-black border-2 rounded-2xl flex items-center justify-center;
  }

  .input-radio2{
    @apply absolute top-0 z-20 opacity-0 cursor-pointer w-[262px] h-[60px];
  }

  .label-radio2{
    @apply transition-all absolute top-0 -z-10 w-[262px] h-[60px] bg-[#759948] border-black border-2 rounded-2xl flex items-center justify-center;
  }

  .centrar{
    @apply right-0 left-0 mx-auto;
  }

  .modelo{
    @apply seleccionable cursor-pointer w-[160px] h-[120px] block;
  }
}